<?xml version="1.0" encoding="utf-8"?>
<Configuration status="info">
    <Properties>
        <Property name="ecsScemaUri">classpath:EcsLayout.json</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
              <JsonTemplateLayout eventTemplateUri="${ecsScemaUri}" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost]"
                level="info"
                additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/manager]"
                level="info"
                additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="org.apache.catalina.core.ContainerBase.[Catalina].[localhost].[/host-manager]"
                level="info"
                additivity="false">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>

