<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
        <!--
                JNDI Configuration for Tjanstekatalogen
         -->
    <Resource name="jdbc/TP" auth="Container" type="javax.sql.DataSource"
      maxActive="10" maxIdle="5" maxWait="10000" username="tpadminuser" password="6xi85ThA"
      driverClassName="com.mysql.jdbc.Driver" url="jdbc:mysql://localhost:3306/tp_admin?autoReconnect=true"
    />
</Context>